// //experience
.experience__wrapper {
  padding: 30px 15px;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.experience__title{
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}
// experience__list


// //Company
// company__item
.company__name {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.55;
  letter-spacing: 1px;
  color:#5e5e5e;
  padding: 10px 0;
}


// //RoleList
// role-list__list

// //RoleItem
// role-list__item
.role-list__wrapper{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px
}

//same as company_name but uppercase
.role-list__role-name{
  font-size: 20px;
  font-weight: bold;
  line-height: 0.55;
  letter-spacing: 1px;
  color:#5e5e5e;
  padding: 10px 0;
  text-transform: uppercase
}
.role-list__date{
  font-size: 14px;
  font-weight: 100;
  line-height: 0.71;
  letter-spacing: 0.9px;
  color: #000000;
  padding: 5px 0
}


// //Challenges (for a role)
// challenges__list
// challenges__item
.challenges__item-summary{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.41;
  color: #000000;
}



// //ChallengesActions (nested in roleItem - challenges)
// .challengesActions__list{
//   list-style: disc inside;
// }
.challengesActions__item{
  padding-top: 5px;
}
.challengesActions__item-summary{
  padding: 5px 0;
  padding-left: 10px;
}
.challengesActions__item-tools{
  padding: 5px 0;
  padding-left: 25px;
  color: #9c9c9c;
}


//ReferencesList
.reference-list__wrapper{
  padding-top: 20px;
}
.reference-list__title{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}
//reference-list__list

//ReferenceItem
.reference-list__item{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px
}
.reference-list__name{

}
.reference-list__role{
  flex-grow: 2;
  &::before {
		content: ", ";
	}
}
.reference-list__contact{
  text-decoration: none;
  color: #000000;
  padding: 5px 0;

}
