* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: rgb(24, 6, 90);
}

@media print {
    @page {
        margin: 0;
    }
}

ul,
ol {
    list-style: none;
}

.list {
    list-style: square;
    margin-left: 20px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a:link,
a:visited {
    // color: rgb(138, 138, 138);
    color: rgb(63, 54, 94);
    text-decoration: none;
    transition: .3s all;
}

a:hover,
a:active {
    color: rgb(24, 6, 90);
}

// Header and Footer
.header,
.footer {
    width: auto;
    min-height: 80px;
    background-color: #fff;
    @media print {
        display: none;
    }
}

.footer {
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.header__container,
.footer__container  {
    width: 320px;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.footer__container {
  display: block;
}

.logo {
    display: block;
    width: 250px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}
.footer__manfred-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
}
.footer__text {
  color: #cad4da;
  margin: 20px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  .footer__heart {
    display: inline-block;
    width: 20px;
    height: 17px;
    background-image: url(images/heart.svg);
    background-repeat: no-repeat;
    margin: 0 7px;
    background-position: center;
    animation: heartbeat 1.5s infinite;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1)
    }
    20% {
      transform: scale(1.15)
    }
    30% {
      transform: scale(1)
    }
    40% {
      transform: scale(1.15)
    }
    100% {
      transform: scale(1)
    }
  }

  .footer__adalab {
    display: inline-block;
    margin-left: 7px;
    color: #19d3ca;
  }
}

// Main
.main {
    min-height: 100vh;
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        content: '';
        width: 100%;
        height: 400px;
        background-color: #eff4f7;
        z-index: -1;
    }
}

.preview__wrapper {
    padding: 100px 0 150px;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    @media print {
        margin: 0;
        padding: 0;
        min-width: 100%;
    }
}
.button__container {
  position: fixed;
  right: 10%;
  width: 50px;
  height: 100px;
}

.preview__print-btn {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #1E086D;
    background-image: url(images/print.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border: 0;
    position: absolute;
    outline: none;
    cursor: pointer;
    transition: .3s all;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
    &:hover {
        background-color: #4726bb;
    }
    @media print {
        display: none;
    }
}
.preview__share-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #1E086D;
  background-image: url(images/share.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border: 0;
  position: absolute;
  top: 50px;
  outline: none;
  cursor: pointer;
  transition: .3s all;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
  &:hover {
    background-color: #4726bb;
  }
}

.cv__wrapper,
.form__wrapper,
.json__wrapper {
    background-color: #fff;
    box-shadow: 0px 9px 71px -21px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0px auto;
    padding: 40px 20px;
    @media print {
        margin: 0;
        padding: 40px;
        width: 100%;
        box-shadow: none;
    }
}

.author__image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 15px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto 30px;
    @media print {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.author__name {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 55px;
}

.profile__roles-list {
    margin: 30px auto 60px;
    text-align: center;
}

.author__role {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 25px;
}

.author-data__container {
    display: flex;
    justify-content: space-between;
}

.author__birthday,
.author__yearsOfExperience {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
}

.author__yearsOfExperience {
    width: 100px;
    text-align: right;
}

.publicLinks__wrapper {
    margin: 30px 0 45px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 30px;
}

.publicLinks__list {
    padding-left: 10px;
}

.publicLinks__list-item {
    position: relative;
}

.publicLinks__list-anchor,
.link {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 8px;
    margin: 5px 0 10px 10px;
    display: block;
    position: relative;
    word-wrap: break-word;
    &::before {
        content: '';
        width: 9px;
        height: 9px;
        background-image: url(images/link.svg);
        position: absolute;
        left: -5px;
        top: 2px;
        transition: .5s all;
    }
    &:hover::before {
        transform: rotate(90deg);
    }
}

.wrapper {
    margin: 30px 0 70px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 30px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 25px;
}

.paragraph {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.sig-relations__item {
    margin-bottom: 30px;
}

.sig-relations__name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.sig-relations__role {
    margin: 10px;
    display: inline-block;
}

.sig-relations__company {
    display: inline-block;
}

// Company
.company__item {
    margin-bottom: 70px;
}

.company__name {
    font-size: 22px;
    color: #625396;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
}

.role-list__role-name {
    color: #625396;
}

.role-list__date {
    font-size: 12px;
    color: #625396;
}

.role-list__wrapper,
.reference-list__wrapper {
    margin: 10px 0 30px 15px;
}

.challenges__item {
    margin: 20px 0;
}

.challenges__item-summary {
    font-size: 15px;
    margin: 10px 0;
    font-weight: 400;
}

.challengesActions__item {
    margin-bottom: 10px;
}

.challengesActions__item-tools {
    padding: 5px 0;
    padding-left: 25px;
    color: #625396;
}

.reference-list__title {
    margin-bottom: 10px;
    color: #625396;
}

.reference-list__list {
    margin-left: 20px;
}

.reference-list__name,
.reference-list__role {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
}

.reference-list__role {
    font-weight: 400;
}

// Education
.education__list-item {
    margin-bottom: 20px;
}

.education__item-container {
    margin-top: 5px;
}

.education__item-institution {
    color: #625396;
}

.education__item-study {
    font-weight: 100;
    font-size: 14px;
}

.education__item-date {
    font-weight: 100;
    font-size: 12px;
    color: #625396;
}

.achievements__title {
    margin: 15px 0 5px 20px;
    font-weight: 400;
}

.achievements__list-item {
    font-size: 14px;
    margin-left: 20px;
}

//LanguageItem
.languages__list-item {
    margin-bottom: 15px;
    margin-left: 20px;
}

.languages__item-language {
    font-size: 18px;
    font-weight: 700;
    color: #625396;
}

.languages__item-level {
    font-size: 12px;
    font-weight: 100;
}

// MiscEducation
.miscEducation__item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

// Questionnaire
.questionnaire__item-question {
    font-size: 18px;
    line-height: 25px;
    margin: 45px 0 10px 20px;
    font-weight: 700;
    color: #625396;
}

//Main component -- nav links from router
.nav__list {
    height: 40px;
    display: flex;
    .nav__link {
        display: flex;
        height: 100%; // background: #23d2ca;
        background: linear-gradient(to bottom, #19d3ca, #1ed4e1);
        margin-right: 3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: .3s all;
        font-size: 11px;
        align-items: center;
        text-align: center;
        &.active {
            background: #fff;
            padding: 0px 37px;
        }
        .nav__link-route {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0px 36px;
            color: #fff;
        }
    }

    @media print {
      display: none;
    }
}

// Json
.json__title {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 70px;
}

.json__guidelines,
.form__guidelines {
    width: 80%;
    max-width: 500px;
    margin: 20px auto 60px;
}

.textarea__form-label {
  color: #fff;
  font-size: 0;
}
.textarea {
    resize: none;
    width: 100%;
    margin: 10px auto 0;
    padding: 30px 25px;
    min-height: 250px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #757575;
    background-color: #fff;
    box-shadow: 0px 5px 30px 0 #8099b32e;
}
.textarea__label {
  display: block;
  margin: 30px auto 0;
  font-weight: 700;
  max-width: 700px;
}
.textarea__json {
  resize: none;
  width: 100%;
  margin: 10px auto 100px;
  padding: 30px 25px;
  min-height: 80vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #01ffbb;
  background-color: #131a4d;
  box-shadow: 0px 20px 60px 0 #131a4db5;
}

// Form
.form__title {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 70px;
}

.form__wrapper {
    min-height: 80vh;
}

.form__container {
    margin: 0 auto 50px;
    width: 100%;
    max-width: 320px;
    animation: appear .5s ease-in-out;
}
 @keyframes appear {
   0% {
     opacity: 0;
     transform: translateY(15px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
  }
 }

.label {
    display: block;
    font-size: 12px;
    margin: 0 auto 20px;
    width: 100%;
    color: #cad4da;
    font-weight: 100;
}

.select__label {
    margin-left: 20px;
    color: #cad4da;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form__select {
    outline: none;
    margin-left: 20px;
    border: none;
    width: 120px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: #757575;
    background-color: #fff;
    box-shadow: 0px 5px 30px 0 #8099b32e;
}

.label__title {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
}

.form__fieldset {
    border: none;
    width: 80%;
    max-width: 500px;
    margin: 50px auto 100px;
}
.form__public-links, .form__profile-roles {
  width: 100%;
  max-width: 500px;
  margin: 100px auto 0;
}

.form__profile-roles {
  .select__label {
    display: block;
    margin-left: 0;
  }
  .select__label-title {
    display: block;
    margin-left: 20px;
  }
  .form__select {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 0;
    appearance: none;
    padding-left: 20px;
    font-size: 12px;
  }
}

.form__section-title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.form__section-description {
    max-width: 300px;
    margin: 0 auto 50px;
    hyphens: auto;
    text-align: center;
    color: #aaa5bb;
}

.form__date-container {
    display: flex;
    justify-content: space-between;
    .label {
        width: 48%;
        margin: 0 0 20px;
    }
}

.form__input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 100;
    outline: none;
    transition: .3s all;
    color: #757575;
    box-shadow: 0px 5px 30px 0 #8099b32e;
}

.form__input:hover {
    transform: translateY(-2px);
}

.remove-btn,
.add-btn {
    cursor: pointer;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    transition: .3s all;
    outline: none;
}

.remove-btn__container {
    display: flex;
    justify-content: flex-end;
}

.remove-btn {
    background: linear-gradient(to right, #fb55b0, #d264ca);
    box-shadow: 0 5px 30px 0 #d264cbb4;
    &:hover {
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 0px 5px 10px 0 #d264cbb4;
    }
}

.add-btn {
    background: linear-gradient(to left, #44cad6, #56b2de);
    box-shadow: 0 5px 30px 0 #56b3dea6;
    &:hover {
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 0px 5px 10px 0 #56b3deab;
    }
}

// Form image
.get-avatar__container {
    width: 290px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0;
}

.get-avatar {
    width: 100%;
    text-align: center;
    margin: 20px auto 60px;
}

.get-avatar__trigger {
    background: linear-gradient(to left, #44cad6, #56b2de);
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    transition: .3s all;
    box-shadow: 0px 5px 30px 0 #56b3ded0;
    outline: none;
    &:hover {
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 0px 5px 10px 0 #56b3decb;
    }
}

.get-avatar__upload-field {
    display: none;
}

.get-avatar__preview {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 30px auto;
    box-shadow: 0px 14px 35px 0 rgba(48, 73, 155, 0.1);
}

@media all and (min-width: 480px) {
    .header__container,
    .footer__container {
        width: 80%;
        max-width: 80%;
    }
    .preview__wrapper {
        width: 80%;
        max-width: 80%;
    }
    .form__container {
        width: 100%;
        max-width: 500px;
    }
    .select__label {
        justify-content: flex-start;
    }
    .textarea {
      font-size: 14px;
    }
}

@media all and (min-width: 600px) {
    .role-list__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .role-list__role-name {
            max-width: 200px;
        }
    }
    .education__item-container {
        display: flex;
        justify-content: space-between;
    }
    .cv__wrapper {
        padding: 50px 70px;
    }
    .nav__list {
        .nav__link {
            font-size: 16px;
        }
    }
}

@media all and (min-width: 768px) {
    .preview__print-btn, .preview__share-btn {
        display: block;
    }
    .cv__wrapper {
        padding: 50px 100px;
    }
    .author__image {
        width: 170px;
        height: 170px;
        margin-bottom: 50px;
    }
}

@media all and (min-width: 900px) {
    .cv__wrapper {
        padding: 50px 170px;
    }
}
